.Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 350px;

  border: 1px solid;
  border-radius: 10px;
}

.Form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Form__input {
  padding: 5px 10px;
  max-width: 200px;
}

.Form__btn {
  max-width: 100px;
}
